
<html style="  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));">
<div id="gallery">
    <h2 id="galleryheader">This is the Gallery.</h2>
    <nav style="height: 100px; width:1500px;">
        <form>
            <div class="form-group">
                <label for="theMetArtGallery"></label>
                <input type="text" class="form-control" id="artist-find" placeholder="Enter Artist Name">
            </div>
            <button type="submit" id="art-sub" class="btn btn-primary">Submit</button>
        </form>
    </nav>
    <div class="grid">
        <div class="grid-sizer"></div>
        <ul>
        <!-- Divs equal to number of images populate here.-->
        </ul>
    </div>
</div>
</html>
