<div class="container">
    <h2>This is the Gallery...sorta</h2>
    <nav>
        <form>
            <div class="form-group">
                <label for="theMetArtGallery"></label>
                <input type="text" class="form-control" id="artist-find" placeholder="Enter Artist Name">
            </div>
            <button type="submit" id="art-sub" class="btn btn-primary">Submit</button>
        </form>
    </nav>
    <div class="grid">
        <div class="grid-sizer"></div>
        
        <!-- Divs equal to number of images populate here.-->
        
    </div>
</div>
