<div id="home">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><u><i>Suggested Artist1</i></u></a>
    <a class="navbar-brand" href="#"><u><i>Suggested Artist2</i></u></a>
    <a class="navbar-brand" href="#"><u><i>Suggested Artist3</i></u></a>
    <a class="navbar-brand" href="#"><u><i>Suggested Artist4</i></u></a>
    <a class="navbar-brand" href="#"><u><i>Suggested Artist5</i></u></a>
    <a class="navbar-brand" href="#"><u><i>Suggested Artist6</i></u></a>
  </nav>
  <button type="button" id="search-artist-button" class="btn btn-success">Search</button>
  <input class="form-control" type="text" placeholder="Search for artist" aria-label="Search">
  <div class="jumbotron" id="header">
    <h1 class="display-4">Welcome to Meshugga!</h1>
    <p class="lead">Upload some art or search a specific artist to get started!</p>
  </div>
  <br>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-wrap="true" data-ride="carousel" data-interval="3000">
      {{#each dbExamples}}
        <p>{{this.id}}{{this.artpiece_name}} <img src="{{this.artpiece_link}}"> {{this.artpiece_description}}</p>
        {{/each}}
  </div>

</div>
<div class="container">
  <h3>Getting started!</h3>
  <h5>To get started, paste a URL below to upload art, or search for an artist at the top of the page.</h5>
  <div id="postone" class="shadow-lg p-3 mb-5 bg-white rounded">
    <form action="myform.cgi">
      <button id="submit" class="btn btn-success float-right" style="color: brown;">Submit</button>
      <input type="url" name="fileupload" id="fileupload"> Enter a URL to upload art!</form>
    </form>
  </div>