.art {
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.showHide {
  height: 4px !important;
  width: 80px;
  height: 50px;
  margin: 5px;
  transform: translateY(680px);
  position: fixed;
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.33);
}

* {
  width: max-content;
}

#header {
  background-color: rgb(0, 172, 86) !important;
  background-image: linear-gradient(rgb(136, 255, 0), rgb(0, 174, 86));
  width: 1518px;
}

body {
  background-color: rgb(167, 77, 13) !important;
  font-family: "Cairo", sans-serif;
  background-image: linear-gradient(rgb(3, 211, 107), rgb(139, 61, 6));
}

#submit {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px #ff0000;
  }

  to {
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}

.navbar-brand {
  margin: 15px;
  transform: translateX(-29px) !important;
}

.navbar {
  background-color: rgba(167, 77, 13, 0.5) !important;
  position: fixed;
  width: 160px !important;
  border-radius: 0 0 25px;
  border-bottom: 2px solid rgb(173, 33, 33);
  z-index: 999;
  height: 435px;
}

.form-control {
  width: 250px;
  float: right;
  margin: 10px;
  margin-right: -5px;
}

.carousel-item {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 80px;
}
.carousel-item img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 80px;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100, 0);
}

#search-artist-button {
  float: right !important;
  margin: 10px;
  color: brown;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#postone {
  background-color: rgba(255, 0, 0, 0) !important;
  background-image: linear-gradient(rgb(0, 172, 86), rgb(167, 77, 13));
  margin-top: 60px;
  height: max-content;
}

.container {
  background-image: linear-gradient(rgb(0, 172, 86), rgb(167, 77, 13));
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

* {
  box-sizing: border-box;
}
