.list-group-item {
  line-height: 2.5;
}

#header {
  background-color: rgb(0, 172, 86) !important;
  background-image: linear-gradient(rgb(136, 255, 0), rgb(0, 172, 86));
}

body {
  background-color: rgb(167, 77, 13) !important;
  font-family: "Cairo", sans-serif;
  background-image: linear-gradient(rgb(3, 211, 107), rgb(139, 61, 6));
}

#submit {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}

.navbar {
  background-color: rgba(255, 0, 0, 0.267) !important;
  position: fixed;
  width: max-content !important;
  border-radius: 25px;
  border: 2px solid rgb(173, 33, 33);
  z-index: 999;
}

.form-control {
  width: 250px;
  float: right;
  margin: 10px;
  margin-right: -5px;
}

.carousel-item {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 80px;
}
.carousel-item img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 80px;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100, 0);
}

#search-artist-button {
  float: right !important;
  margin: 10px;
  color: brown;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#postone {
  background-color: rgba(255, 0, 0, 0) !important;
  background-image: linear-gradient(rgb(0, 172, 86), rgb(167, 77, 13));
  margin-top: 60px;
}

.container {
  background-image: linear-gradient(rgb(0, 172, 86), rgb(167, 77, 13));
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

* {
  box-sizing: border-box;
}
